{% extends 'auth/base_auth.html' %}
{% block title %}Login Page | Login with Flask{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register Account</h5>
            <form class="form-signin" methods='POST'>
              <div class="form-label-group">
                <input type="email" id="inputEmail" name='email' class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputFirst" name='first_name' class="form-control" placeholder="First Name" required>
                <label for="inputFirst">First Name</label>
              </div>

              <div class="form-label-group">
                <input type="text" id="inputLast" name='last_name' class="form-control" placeholder="Last Name" required>
                <label for="inputLast">Last Name</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword1" name='password1' class="form-control" placeholder="Password" required>
                <label for="inputPassword1">Password</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword2" name='password2' class="form-control" placeholder="Password (Confirmation)" required>
                <label for="inputPassword2">Password (Confirmation)</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}